@model IEnumerable<Actor>

<table class="table table-hover">
    <thead>
        <tr>
            <th> @Html.DisplayNameFor(x => x.Nombres) </th>
            <th> @Html.DisplayNameFor(x => x.Apellidos) </th>
            <th> @Html.DisplayNameFor(x => x.Edad) </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td> @item.Nombres </td>
            <td> @item.Apellidos </td>
            <td> @item.Edad </td>
            <td>
                <div class="container text-center">
                    <div class="row">
                        <a onclick="showModal('@Url.Action("AddOrEdit","Actores",new { Id = item.Id },Context.Request.Scheme)', 'Editar actores')" class="btn btn-primary text-white mr-1">
                            <i class="fas fa-pencil-alt"></i> Editar
                        </a>
                        <form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return jQueryAjaxDelete(this)">
                            <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> Borrar</button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
        }

    </tbody>
        
</table>